


body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: hero, sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    background: #1F2937;
}

.content{
    flex: 1;
}

.footer{
    background: #1F2937;
}