


body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: hero, sans-serif;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type:none;
}

a{
    text-decoration:none;
    color: white;
}

.header{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 200px;
    background: #1F2937;
    color: white;
    font-weight: 300;
}

.header-links{
    display:flex;
    gap: 10px;
}

.content{
    flex: 1;
}

.footer{
    background: #1F2937;
}