@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: scroll;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type:none;
}

a{
    text-decoration:none;
    color: white;
}

.header{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 200px;
    background: #1F2937;
    color: white;
    font-weight: 300;
    padding-bottom: 50px;
}

.header-links{
    display:flex;
    gap: 10px;
}

.below-header{
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: white;
    padding-right: 120px;
    padding-bottom: 70px;
    width: 100%;
}

.BH-container{
   display: flex;
   align-items: center;
   max-width: 700px;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    height:65px;  
}

.signup{
    border-radius:5px;
    color: white;
    background: #3882f6;
    border: none;
    padding: 5px 20px;
}

.placeholder-image{
    display: flex;
    align-items:center;
    justify-content:center;
    background: gray;
    margin: 30px;
    padding: 15px;
    width: 800px;
    height: 150px;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.pictures{
    margin: 30px 0px 70px 0px;
 }
 
 .pictures h2{
     display:flex;
     justify-content:center;
 }

.container{
    display:flex;
    padding: 0px 100px;
}

.card-text{
   display:flex;
   flex-direction:column;
   align-items:center;
   text-align: center;
   max-width:140px;
   padding: 25px;
}

.card{
   border-style:solid;
   border-radius:10px;
   border-color:#3882f6;  
   width: 120px;
   height: 120px;
}

.quote{
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100%;
    padding: 50px;
  }
  
 .quote blockquote{
     align-self: center;
     max-width:700px;
     font-size: 30px;
     color:#1F2937;
  }
 
 .quote p{
    display: flex;
    justify-content: center;
    margin-left: 450px;
    margin-top: -30px;
 }

 .Sign-up_background{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.Sign-up{
    display: flex;
    gap: 200px;
    border-radius:5px;
    color: white;
    background: #3882f6;
    padding: 20px 100px;
    margin: 75px;
 }

.Sign-up h4{
    height: 1px;
    font-weight: bolder;
}

 .Sign-up p{
    font-size: 12px;
}
 
 .Sign-up button{
     align-self: center;
     border-radius:5px;
     color: white;
     background: #3882f6;
     border: 2px solid white;
     padding: 5px 20px;
 }

 .footer{
    display: flex;
    justify-content: center;
    background: #1F2937;
    color: white;
    padding: 30px;
}
